.env
.env.klan

.idea
.php_cs.cache

*.code-workspace

/app/cache/*
/app/logs/*
/app/sessions/*

!/*/.htaccess

!/assets/*/.htaccess
!/assets/images/maps/noimage.jpg
!/assets/images/avatars/noimage.png
/assets/images/avatars/*
/assets/images/maps/*

/assets/downloads/*
/assets/uploads/*
